<center>
<h1>Editando Zombie</h1>

<%= render 'form', zombie: @zombie %>

<%= link_to '<button type="button" class="button success basic">Mostrar</button>'.html_safe, @zombie %> |
<%= link_to '<button type="button" class="button primary basic">Regresar</button>'.html_safe, zombies_path %>
</center>